[submodule ".devcontainer/dependencies/devcontainers/features"]
	path = .devcontainer/dependencies/devcontainers/features
	url = https://github.com/AlephZ-ai/devcontainers_features
	branch = main
[submodule ".devcontainer/dependencies/devcontainers-contrib/features"]
	path = .devcontainer/dependencies/devcontainers-contrib/features
	url = https://github.com/devcontainers-contrib/features
	branch = main
[submodule ".devcontainer/dependencies/rocker-org/devcontainer-features"]
	path = .devcontainer/dependencies/rocker-org/devcontainer-features
	url = https://github.com/rocker-org/devcontainer-features
	branch = main
