[submodule ".devcontainer/dependencies/features"]
	path = .devcontainer/dependencies/features
	url = https://github.com/devcontainers-contrib/features
[submodule ".devcontainer/dependencies/devcontainer-features"]
	path = .devcontainer/dependencies/devcontainer-features
	url = https://github.com/rocker-org/devcontainer-features
